---
layout: default
---

<div id="slideshow-container">
  {% for post in posts %}
    <div class="mySlides">
      <section class="media">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Joe_Manchin_official_portrait_112th_Congress.jpg/220px-Joe_Manchin_official_portrait_112th_Congress.jpg" />
        <captio>{{ post.caption }}</captio>
      </section>
      <section class="text">
        <h1><b>{{ post.title }}</b></h1>
        <p>
          {{ content }}
        </p>
      </section>
    </div>
  {% endfor %}
</div>
<nav>
  <button onclick="plusDivs(-1)">&#10094;</button>
  <button onclick="plusDivs(1)">&#10095;</button>
</nav>
